DB_URL=jdbc:mysql://localhost:3306/tripplanner?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
DB_USER=tripuser
DB_PASSWORD=trippass
MYSQL_ROOT_PASSWORD=doi-mat-khau-root-nay
REDIS_HOST=localhost
REDIS_PORT=6379
JWT_SECRET=doi-chuoi-nay-thanh-chuoi-ngau-nhien-toi-thieu-64-ky-tu
APP_FRONTEND_URL=http://localhost:5173
MAIL_HOST=localhost
MAIL_PORT=1025